# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env

# IDE
.vscode/
.idea/

# Cache
.pytest_cache/

# Database files
*.db
*.db.backup
*.bakup
.continue/